<div class="container">
  <div class="panel panel-primary">
    <app-alerts></app-alerts>
    <div class="panel-body">
      <form class="example-form" [formGroup]="angForm" novalidate>
        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Name" formControlName="name" #name>
          <mat-error *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)">
            Url Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Url" formControlName="url" #url>
          <mat-error *ngIf="angForm.controls['url'].invalid && (angForm.controls['url'].dirty || angForm.controls['url'].touched)">
            Url is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #tagList>
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                      [removable]="removable" (removed)="removeTag(tag)"
                      color="primary">
              {{tag.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="tagList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addTags($event)"
                   placeholder="Tags">
          </mat-chip-list>
        </mat-form-field>
          
        <button mat-raised-button (click)="addSite(name.value, url.value); angForm.reset()" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">
          <mat-icon>add box</mat-icon>
          Add
        </button>
      </form>
    </div>
  </div>
</div>